.App {
  text-align: center;
  background-color: #fffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fffff;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: black;
}

.body { 
  background-color: #fffff;
  min-height: 90vh;
  display: grid;
  grid-template-columns: 10% [col-start] 10% [col-start] auto [col-start] 10%; 
  font-size: calc(10px + 2vmin);
  color: black;
  gap: 6px;
} 

.submit { 
    padding:  12px;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: start;
} 

.table { 
    grid-column-start: 4;
    grid-column-end: 5;
    padding: 12px;
    align-self: start;
}

.calendar { 
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 12px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
